* {
    box-sizing: border-box;
}

:root {
    --header-image-text-color: white;
}

body {
    margin: 0;
    padding: 7vw;
    background: dodgerblue;
}

h1 {
    font-size: 6rem;
}

.header-image-container {
    background: url(./assets/images/placeholder-portrait.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
    display: grid;
    align-items: end;
    box-shadow: 2px 2px 10px rgb(27, 27, 27);
}

@font-face {
    font-family: headerFont;
    src: url("./assets/fonts/Lora/Lora-VariableFont_wght.ttf");
}

.header-image-text {
    margin: 2vw;
    color: var(--header-image-text-color);
    font-family: "headerFont", sans-serif, Helvetica, Arial;
    letter-spacing: .2rem;
}