* {
    box-sizing: border-box;
}

:root {
    /* --body-bg-color: rgba(0, 0, 0, 0.034); */
    --body-bg-color: rgb(245, 245, 245);
    --header-image-text-color: white;
    --body-gap: 20vw;
    --main-padding: 15px;
    --main-padding-bottom: 10vw;
    --footer-bg-color: dodgerblue;
    --footer-text-color: white;
    --footer-gap: 10px;
    font-size: 16px;
    line-height: 1.6;
    --header-image-box-shadow: 2px 2px 5px rgba(27, 27, 27, 0.26);
    --projects-gap: 68px;
    --project-bg-color: rgb(245, 245, 245);
    --project-description-font-size: 0.8rem;
    --project-line-height: 1.15;
    --contact-info-font-size: 0.8rem;
}

body {
    margin: 0;
    background: var(--body-bg-color);
    display: grid;
    justify-content: center;

    /* gap: var(--body-gap); */
    display: grid;
    grid-auto-flow: row;
}

header, main, .footer-content {
    padding: var(--main-padding);
    padding-bottom: calc(var(--main-padding) * 2.4);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
    margin: 5px;
}

h1 {
    /* font-size: 3.2rem; */
}


h2 {
    font-size: 2.2rem;
    font-weight: lighter;
}

h3 {
    /* font-size: 2.4rem; */
    font-weight: 300;
    margin: 0;
}

p {
    /* font-size: 1.5rem; */
    margin: 0;
}

.header-image-container {
    background: url(./assets/images/placeholder-portrait-480w.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
    display: grid;
    align-items: end;
    justify-items: center;
    box-shadow: var(--header-image-box-shadow);
    margin: 5px;
}

@font-face {
    font-family: headerFont;
    src: url("./assets/fonts/Lora/Lora-VariableFont_wght.ttf");
}

.header-image-text {
    margin: 2vw;
    color: var(--header-image-text-color);
    font-family: "headerFont", sans-serif, Helvetica, Arial;
    letter-spacing: .2rem;
}

.header-icons,
.footer-icons {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
    gap: 25px;
    margin: 15px 0;
}

main {
    /* display: grid;
    justify-content: center;
    
    gap: var(--body-gap) */
    padding-bottom: var(--main-padding-bottom);
}

.projects {
    display: grid;
    
    justify-items: center;
    /* gap: calc(var(--body-gap) / 2); */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(auto, 1fr));

    gap: var(--projects-gap);
}

.project {
    background-color: var(--project-bg-color);
    box-shadow: var(--header-image-box-shadow);
    line-height: var(--project-line-height);
}

.project-image {
    width: 100%;
    height: auto;
}

.project-info {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

.project-title {
    text-align: center;
}

.icons {
    display: grid;
    grid-template-columns: 20px 20px;

    gap: 10px;
}

.project-description {
    grid-column: 1 / -1;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: var(--project-description-font-size);
}

.footer-content {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    line-height: 1.15;
}

.footer-header {
    text-align: center;
}

.footer-info {
    display: grid;
    gap: calc(var(--footer-gap) * 2);
}

.footer-description {
    font-size: 1.1rem;
}

.address,
.phone,
.email {
    font-size: var(--contact-info-font-size);
}

.footer-image {
    width: 100%;
}

@media (min-width: 350px) {
    :root {
        --body-padding: 20px;
    }
}

@media (min-width: 1000px) {
    :root {
        font-size: 34px;
        --main-padding: 150px;
    }

    .header-content {
        background-color: green;
        /* margin: 100px;
        margin-top: 300px; */
    }

    .header-image-container {
        float: left;
        min-height: none;
        transform-origin: bottom right;
        transform: scale(1.2)
    }

    .header-icons {
        display: none;
    }
}