body {
    margin: 0;
}

.header-image-container {
    background: url(./assets/images/placeholder-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
}

.header-image-text {
    text-align: center;
}